.overpass-100 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.overpass-200 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.overpass-300 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.overpass-400 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.overpass-500 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.overpass-600 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.overpass-700 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.overpass-800 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.overpass-900 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.overpass-100italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}
.overpass-200italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}
.overpass-300italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.overpass-400italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.overpass-500italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}
.overpass-600italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.overpass-700italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
.overpass-800italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}
.overpass-900italic {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}


